ollama:
  deployment:
    small:
%{ if max_requests != "" }
      max_requests: ${ max_requests }
%{ endif }
      resources:
        limits:
%{ if small_slice_count != "" }
          gpu: ${ small_slice_count }
%{ endif }
    large:
%{ if max_requests != "" }
      max_requests: ${ max_requests }
%{ endif }
      resources:
        limits:
%{ if large_slice_count != "" }
          gpu: ${ large_slice_count }
%{ endif }